{% extends 'base.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
    {#    <div class="container">#}
    {#        <h1>Список книг</h1>#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                {% for book in books %}#}
    {#                    <div class="col-md-6">#}
    {#                        <a href="{% url 'book_detail' book_id=book.id %}">#}
    {#                            <div class="card">#}
    {#                                <img src="{{ book.image.url }}"#}
    {#                                     alt="имаге">#}
    {#                                <div class="card-body">#}
    {#                                    <h5 class="card-title">{{ book.title }}</h5>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </a>#}
    {#                    </div>#}
    {#                {% endfor %}#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AnimeGo - Manga Section</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>

    <!-- Навигационное меню -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">AnimeGo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Manga</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Anime</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Заголовок раздела -->
    <div class="container mt-4">
        <h1 class="text-center">Manga Section</h1>
    </div>

    <!-- Секция с карточками манги -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="manga1.jpg" class="card-img-top" alt="Manga 1">
                    <div class="card-body">
                        <h5 class="card-title">Manga Title 1</h5>
                        <p class="card-text">Description of Manga 1.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="manga2.jpg" class="card-img-top" alt="Manga 2">
                    <div class="card-body">
                        <h5 class="card-title">Manga Title 2</h5>
                        <p class="card-text">Description of Manga 2.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="manga3.jpg" class="card-img-top" alt="Manga 3">
                    <div class="card-body">
                        <h5 class="card-title">Manga Title 3</h5>
                        <p class="card-text">Description of Manga 3.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Подвал -->
    <footer class="footer bg-dark text-white text-center py-3">
        <div class="container">
            <span>&copy; 2024 AnimeGo. All rights reserved.</span>
        </div>
    </footer>

    <!-- Подключение скриптов Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    </html>

{% endblock %}
