{% extends 'base.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
    {% include 'blocks/filter.html' %}
    <div class="container mt-4">
        <div class="row">
            {% for book in books %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ book.image.url }}" class="card-img-top" alt="Manga" height="400">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p>
                                {% for genre in book.genre.all %}
                                    {{ genre.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <a href="{% url 'book_detail' book_id=book.id %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
